<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adotfy</title>

    {% block estilo %}
    {% endblock %}

</head>
<body>
    <header class="header">
        <nav class="header__nav flex">
            <div class="header__nav-logo flex">
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo - nav.png') }}" alt="logo-nav"></a>
            </div>
            <ul class="header__nav-menu flex">
                <li><a href="{{ url_for('rota_sobre') }}">A Adotfy</a></li>
                <li><a href="{{ url_for('rota_cadastro') }}">Sobre ONGs</a></li>
                <li><a href="{{ url_for('rota_pets') }}">Buscar Pets</a></li>
            </ul>    
        </nav>
    </header>

    
    {% block conteudo %}
    {% endblock %}

    <footer class="flex">
        <div>
            <img src="../static/images/logo - nav.png" alt="">
            <p>Fazendo a ponte entre você e a ONG mais próxima.</p>
            <div class="social">
                <i class="fa-brands fa-square-facebook fa-lg"></i>
                <i class="fa-brands fa-square-instagram fa-lg"></i>
                <i class="fa-brands fa-square-twitter fa-lg"></i> 
            </div>
        </div>
            
            <div>
                <ul>
                    <h4>Sobre</h4>
                    <li><a href="{{ url_for('rota_sobre') }}">Sobre nós</a></li>
                    <li><a href="{{ url_for('rota_cadastro') }}">ONGs</a></li>
                    <li><a href="{{ url_for('rota_pets') }}">Pets</a></li>
                </ul> 
            </div>
    </footer>
</body>
</html>
