{% extends 'base.html' %}

{% block estilo %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='sobre.css') }}">

<!--Fontawesome-->
<script src="https://kit.fontawesome.com/d78d4dbd16.js" crossorigin="anonymous"></script>
{% endblock %}

{% block conteudo %}
<main>
    <div class="header__banner flex">
        <section class="header__banner-text flex banner__sobre">
            <p>
                A Adotfy nasceu da necessidade das ONGs encontrarem tutores responsáveis e aptos a adoção de uma forma rápida e simples.
                <br>
                Nós atendemos as ONGs interessadas em se associar ao projeto e fazemos a ponte com os interessados em adoção consciente.
            </p>
        </section>

        <div class="header__banner-img flex">
            <img src="" alt="">
        </div>
    </div>

    <section class="main__adocao">
        <h2>Adote em poucos passos</h2>
        <div class="adocao__box flex">
            <img src="{{ url_for('static', filename='images/Pets (3).jpg') }}" alt="">
            <div class="adocao__passos">
                <div class="flex">
                    <i class="fa-solid fa-location-dot fa-lg icon icon2"></i>
                    <div>
                        <h4>Encontre o PET mais próximo</h4>
                        <p>Vários amiguinhos esperando por um lar.</p>
                    </div>
                    
                </div>

                <div class="flex">
                    <i class="fa-solid fa-pen fa-lg icon icon2"></i>
                    <div>
                        <h4>Preencha o formulário</h4>
                        <p>É simples e rápido, nós só precisamos de algumas informações.</p>
                    </div>
                    
                </div>

                <div class="flex">
                     <i class="fa-solid fa-users fa-lg icon icon2"></i>
                     <div>
                        <h4>A ONG de portas abertas a te esperar!</h4>
                        <p>É só esperar a ONG entrar em contato para combinar o dia do resgate.</p>
                     </div>
                    
                </div>

                <button>Buscar pet</button>
            </div>
        </div>
    </section>
</main>
{% endblock %}
